.title{
    padding: 1rem 0;
    position: relative;

    &::before, &:after{
        content: '';
        position: absolute;
        height: 3px;
        background-color: #000;
        bottom: 0;
        left: 0;
    }

    &::before{
        width: 100px;
        background-color: blue;
        z-index: 2;
    }

    &::after{
        width: 300px;
    }
    
}